* {
    box-sizing: border-box;
  }
  div{
      position:relative;
  }
  h1 {
    margin-bottom: 15px;
    color: green;
    text-align: center;
    font-size: 175%;
  }
  body{
      margin: 0;
      padding: 0;
      font-family:helvetica;
      color:white;
    }
    }
 p{
     color:white;
     position: relative;
     clear:right;
     overflow:auto;
 }

  .sec{
    width: 100%;
    position: relative;
    clear:right;
  }

  .sectitle{
    
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    padding: 5px;
    margin-right: 36px;
    margin-top: 0px;
    font-weight: bold;
    float:right;
    color: white;
    font-size: 125%;
    

}
.secbody{
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin: 2.5%;
    color:white
    font-size: 25px;
    padding: 2%;
    padding-top: 55px;
    padding-left: 10px;
    background-color: grey;
    
   
}

.title1{
    background-color:greenyellow;
}
.title2{
    background-color:green;
}
.title3{
    background-color:rgb(3, 77, 3);
}
  .row {
    margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 5%;
  }
 
  /********** Large devices only **********/
  @media (min-width: 992px) {
    
    
    .col-lg-4 {
        float: left;
        width: 33.33%;
        overflow:hidden;
      }  
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    
    .col-md-6 {
      width: 50%;
      float:left;
      overflow:hidden;
    }
    .col-md-12 {
      width: 100%;
      float:left;
      margin-left: -10px;
      overflow:hidden;
    }
  }
  @media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
      margin-left: -10px;
    }
    
  }
  